body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 20px;
  border: 1px solid;
}

.start {
  color: green;
}

.reset {
  color: red;
}
